<div id="account-purchase-history" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container mt-5 pb-5">
    <h1>Minhas compras</h1>
    <hr/>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Data/hora</th>
      </tr>
      </thead>
      <tbody>
      <%  if(typeof compras !== 'undefined') {
      compras.forEach(function(compra)  { %>
        <tr>
          <th scope="row"><%= compra.id %></th>
          <th scope="row"><%= compra.nome %></th>
          <th scope="row"><%= compra.data.toLocaleDateString() %></th>
        </tr>
      <% })
      }%>
      </tbody>
    </table>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>