<div id="edit-profile" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>Atualizar informações pessoais</h1>
    <hr/>
    <ajax-form action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nome">Nome completo</label>
            <input class="form-control" id="nome" name="full-name" type="text"  :class="[formErrors.nome ? 'is-invalid' : '']" v-model.trim="formData.nome" placeholder="Nome Completo" autocomplete="name" focus-first>
            <div class="invalid-feedback" v-if="formErrors.fullName">Por favor digite seu nome completo.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" type="email"  :class="[formErrors.email ? 'is-invalid' : '']" v-model.trim="formData.email" placeholder="sturgeon@example.com" autocomplete="email">
            <div class="invalid-feedback" v-if="formErrors.email">Por favor insira um e-mail válido.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <cloud-error v-if="cloudError === 'emailAlreadyInUse'">Já existe um usuário com esse e-mail cadastrado.</cloud-error>
          <cloud-error v-if="cloudError"></cloud-error>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Cancelar</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Salvar</ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
