<div id="welcome">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5" v-cloak>
    <h1>Bem-vindo, {{me.nome?me.nome:''}}!</h1>
    <hr/>
    <p>Essa é uma página que só <strong>clientes</strong> tem acesso!</p>
    <!-- <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Atualizar e-mail</a>
    </div> -->
  </div>

  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
