<div id="welcome">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5" v-cloak>
    <h1>Bem-vindo, {{me.fullName?me.fullName:''}}!</h1>
    <hr/>
    <p>Essa é uma página que só pessoas logadas tem acesso. Se sente especial? Tente clicar no link abaixo para fazer algumas coisas que você não conseguia deslogado.</p>
    <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Atualizar e-mail</a>
    </div>
  </div>

  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
