<div id="confirmed-email" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Email confirmado</h1>
    <div style="max-width: 450px;" class="mx-auto text-center">
      <hr/>
      <p>Parabéns, sua conta está verificada! Agora você tem acess total na sua conta.</p>
      <p><a class="btn btn-outline-info" href="/">Para o dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
