<div id="forgot-password" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Recuperar senha</h1>
    <div style="max-width:  450px;" class="mx-auto" v-if="!cloudSuccess">
      <p class="text-center">Digite o seu email abaixo para alterar a senha da sua conta</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor digite um email válido.</div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Mandar link de alteração</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Voltar para o login</a></p>
    </div>
    <div style="max-width:  450px;" class="mx-auto text-center" v-else>
      <p>Mandamos o link para alterar seu e-mail.</p>
      <hr/>
      <p>Se o e-mail não chegar nos próximos minutos, Tente checar no spam. Se ainda não achá-lo, por favor tente novamente ou <a href="/contact">contate o suporte</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Back to login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
