<div id="contact" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Contate-nos</h1>
    <div style="max-width:  650px;" class="mx-auto">
      <p class="text-center">Tem alguma dúvida?</p>
      <hr/>
      <div style="max-width: 450px; font-size: 25px;" class="mx-auto text-center">
        <a href="mailto:contato@cestafeira.com.br" class="text-center">contato@cestafeira.com.br</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
